.scrolldown{display: block;
    width: 10%;
    margin: 0 45%;}
    #imgBG{
        position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
       left:50%;
       top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
       width:auto;
       min-width:100%; /*동영상 너비를 꽉차게*/
       height:auto;
       min-height:100%; /*동영상 높이를 꽉차게*/
      transform:translateX(-50%) translateY(-50%);
       z-index:-100;
       display: block;
    }
    
    .down{display: block;
        width: 100%;
        font-size: 20px;
        position: absolute;
        font-weight: bold;
        left: 0;
        bottom: 5%;
        animation: ani 1s infinite alternate;
        text-align: center;
    }
    @keyframes ani {
        0% { transform:scale(1); opacity:1; color:#fff;}
        100% { transform:scale(1.2); opacity:0.8; color:#888;}
    }	

    #content{background: rgba(0, 0, 0, .8); width: 100%;}
    #content h3{font-size: 1.75em; padding: 50px 0 30px 0;}
    .videoBox h2{position: absolute; top: 45%; width: 100%; left: 10%; text-align: center; font-size: 7em; font-weight: bold; margin-left: -10%; color: #fff;}