.scrolldown{display: block;
    width: 10%;
    margin: 0 45%;}
    #imgBG{
        position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
       left:50%;
       top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
       width:auto;
       min-width:100%; /*동영상 너비를 꽉차게*/
       height:auto;
       min-height:100%; /*동영상 높이를 꽉차게*/
      transform:translateX(-50%) translateY(-50%);
       z-index:-100;
       display: block;
    }
    
    .down{display: block;
        width: 100%;
        font-size: 20px;
        position: absolute;
        font-weight: bold;
        left: 0;
        bottom: 5%;
        animation: ani 1s infinite alternate;
        text-align: center;
    }
    @keyframes ani {
        0% { transform:scale(1); opacity:1; color:#fff;}
        100% { transform:scale(1.2); opacity:0.8; color:#888;}
    }
    #content{ width:100%; margin:0 auto;}
    #content h3{font-size: 48px; text-align: center; padding: 20px 0; background: rgba(0, 0, 0, .8); color: #fff; margin: 100px 0;}
    .autobot{background: rgba(255, 255, 255, .8);}
    .decepticon{background: rgba(255, 255, 255, .8);}
    .inner_wrap{margin: 0 auto;}
    .inner_wrap img{width: 100%; transition: all .5s;}
    .inner_wrap li:hover img{transform: rotateY(180deg);}
    .inner_wrap ul{overflow: hidden; width: 100%;}
    .inner_wrap li{float: left; width: 23%; margin: 0 1%;}
    .inner_wrap li h4{font-size: 2em; margin: 30px 0; text-align: center;}
    .inner_wrap li p{font-size: 18px; text-align: center; font-weight: bold; background: rgba(0, 0, 0, .7); color: #6a5acd; padding: 20px; border-radius: 5px;}
    .decepticon .inner_wrap{margin-bottom: 100px;}	
    .videoBox h2{position: absolute; top: 45%; width: 100%; left: 10%; text-align: center; font-size: 7em; font-weight: bold; margin-left: -10%; color: #fff;}
    

    /* 와이드 pc */
@media screen and (max-width:1600px) {
	#content{ width:100%; margin:0 auto;}
    #content h3{font-size: 48px; text-align: center; padding: 20px 0; background: rgba(0, 0, 0, .8); color: #fff; margin: 100px 0;}
    .autobot{background: rgba(255, 255, 255, .8);}
    .decepticon{background: rgba(255, 255, 255, .8);}
    .inner_wrap{margin: 0 auto;}
    .inner_wrap img{width: 100%; transition: all .5s;}
    .inner_wrap img:hover{transform: rotateY(180deg);}
    .inner_wrap ul{overflow: hidden; width: 100%;}
    .inner_wrap li{float: left; width: 23%; margin: 0 1%;}
    .inner_wrap li h4{font-size: 2em; margin: 30px 0; text-align: center;}
    .inner_wrap li p{font-size: 18px; text-align: center; font-weight: bold; background: rgba(0, 0, 0, .7); color: #6a5acd; padding: 20px; border-radius: 5px;}
    .decepticon .inner_wrap{margin-bottom: 100px;}
}


/* 일반pc */
@media screen and (max-width:1024px) {
	#content{width: auto; margin: 0;}
	#headerArea .menuOpen{ display:block}
    #headerArea #gnb{width:100%; background: rgba(0, 0, 0, .9); display:none;
              position:absolute; top:110px; left:0}
	#headerArea #gnb li{ float:none; margin:0; text-align:center; width: 100%; padding-bottom: 30px; }
    .inner_wrap li{float: left; width: 48%; margin: 0 1%;}
    .inner_wrap img{width: 75%; margin: 0 auto; display: block;}
    .inner_wrap li p{margin-bottom: 50px;}
    .inner_wrap li p{font-size: 15px;}
    .videoBox h2{font-size: 5em;}
        
	
}



/* 모바일 */
@media screen and (max-width:640px) {
	#content{width: auto; margin: 0;}
    .inner_wrap li{width: 98%;}
    .inner_wrap img{width: 55%;}
    .videoBox h2{font-size: 5em;}
