#view_title{border-top: 1px solid #333;text-align: center;border-bottom: 1px solid #333; width: 1000px; margin: 0 auto;}
#view_title1 {padding: 25px 0;font-size: 28px;font-weight: bold;}
#view_title2 {padding-bottom: 20px;color: #666;font-weight: bold;}
#view_content{border-bottom: 1px solid #ccc; padding:30px 20px; width: 970px; margin: 0 auto; line-height: 1.5em;}
#view_button{overflow: hidden;margin-bottom: 150px;margin: 30px 0 150px 0;width: 1100px;}
#view_button a {display: block;float: right;background: #043f67;color: #fff;text-align: center;font-family: 'Nanum Gothic', sans-serif;font-size: 16px;width: 50px;height: 20px;padding: 10px;margin-left: 10px;}