/* 오시는길 내용 영역 */

.sub_menu .current a{background: #043f67; color: #fff;}

#content .directions{margin-bottom: 150px; overflow: hidden; box-sizing: border-box;}
#content .directions h3{margin-bottom: 100px;}
#content .directions h3 i{font-size: 40px;}
#content .directions h4{margin: 80px 0 60px; font-size: 36px; font-weight: 700; text-align: center;}
#content .directions p{margin-bottom: 20px; font-size: 20px; font-weight: 400;}
#content .directions i{font-size: 20px; color: #043f67; margin-right: 20px;}
#content .directions .seoul i{color: #f07800;}
#content .directions .subway{float: left; margin-right: 400px;}
#content .directions .bus{float: left; }
#content .directions .seoul{clear: both;}
#content .directions dl{position: relative;}
#content .directions dt{font-size: 24px; font-weight: 700; margin-bottom: 50px; text-align: center;}
#content .directions dt::after{content: ''; position: absolute; left: -90px; top: 0; width: 1px; height: 200px; background: #ccc;}
#content .directions dd{font-size: 18px; margin-bottom: 20px;}
#content .directions span{width: 60px; height: 40px; padding: 5px 10px; border-radius: 25px; color: #fff; margin-right: 10px;}
#content .directions .red{background: red;}
#content .directions .navy{background: navy;}
#content .directions .green{background: green;}


#content .directions .seoul h3{padding-top: 100px;}

#map1{width: 1200px; height: 500px; margin-bottom: 100px;}
#map2{width: 1200px; height: 500px; margin-bottom: 100px;}